/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
html {
  font-size: 62.5%;
}
.theme {
  background-color: slateblue;
  font-size: 3rem;
  text-align: center;
}
.display-block {
  display: block;
  width: 50%;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
header {
  height: 10%;
  background-color: slateblue;
}
@media (max-width: 500px) {
  header {
    height: 15%;
    padding: 1rem;
  }
}
header h1 {
  font-size: 5rem;
}
@media (max-width: 500px) {
  header h1 {
    text-align: center;
  }
}
header nav {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
header nav a {
  font-size: 3rem;
  color: black;
}
.intro {
  display: flex;
  width: 100%;
}
.intro .myPic {
  width: 50%;
}
.intro .container {
  width: 50%;
}
.intro .container h2 {
  font-size: 4rem;
  padding: 2rem;
}
@media (max-width: 500px) {
  .intro .container h2 {
    padding: 0;
  }
}
.intro .container p {
  font-size: 2rem;
}
.intro .container .Intro-Contact {
  margin-top: 5rem;
  border-top: 1rem dashed black;
}
@media (max-width: 500px) {
  .intro .container .Intro-Contact {
    display: none;
  }
}
.intro .container .Intro-Contact-Nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
}
.intro .container .Intro-Contact-Nav a {
  font-size: 2rem;
  padding: 1rem;
  width: 50%;
}
.Skills {
  display: block;
}
.Skills h2 {
  background-color: slateblue;
  font-size: 3rem;
  text-align: center;
}
.Skills .skills-container {
  display: flex;
}
.Skills .skills-container p {
  font-size: 2rem;
}
.Skills .skills-container .skills-paragraph {
  display: block;
  width: 50%;
}
.Skills .skills-container .Skills-Box {
  display: block;
  width: 50%;
}
.WorkHistory {
  margin-top: 4rem;
  display: block;
}
.WorkHistory h2 {
  background-color: slateblue;
  font-size: 3rem;
  text-align: center;
}
.WorkHistory table {
  text-align: center;
  font-size: 3rem;
}
.WorkHistory table .even {
  background-color: darkgray;
}
.WorkHistory table .odd {
  background-color: lightgray;
}
@media (max-width: 500px) {
  .WorkHistory table {
    font-size: 1rem;
  }
}
.Contact-Footer {
  margin-top: 4rem;
  display: block;
}
.Contact-Footer h2 {
  background-color: slateblue;
  font-size: 3rem;
  text-align: center;
}
.footer-Contact-Nav {
  display: flex;
  justify-content: space-evenly;
}
.Contact-Footer .footer-Contact-Nav a {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .Contact-Footer .footer-Contact-Nav a {
    font-size: 2rem;
  }
}
